$brand-orange: #ffaf36;
$footer-dark: #2a2b2c;
$line-grey: #dde4ea;
$main-blue:#eaeff3;
$primary-black: #1c1c1c;
$secondary-grey: #7b7b7c;
$tertiary-white: #fff;
$secondary-brand-orange: #fef1de;
$admin-blue: #36a8ff;


$brand-color: $brand-orange;
$secondary-brand: $secondary-brand-orange;
$main-bg: $main-blue;
$primary-color: $primary-black;
$secondary-color: $secondary-grey;
$tertiary-color: $tertiary-white;
$footer-color: $footer-dark;
$line-color: $line-grey;
$admin-color: $admin-blue;


